

 body{
   background-color: black;
   margin-left: 10%;
   margin-right: 10%;
 }

 body .centrar2{
   font-size: 20px;
 }

 #wrapper
 {
 	width: 100px;
 	margin: 0 auto;
 }

.row div{
  box-sizing: border-box;
}
 .contenedor{
  display: -webkit-flex;
 	display: flex;
 	-webkit-flex-flow: row wrap;
 	flex-flow: row wrap;
 }

 .cuadro1 {
     color: white;
     width: 100%;
     padding: 2px;
     margin-top: 5px;
     background-color: #5b7989;
     border-radius: 10px 10px 0px 0px;
     -moz-border-radius: 10px 10px 0px 0px;
     -webkit-border-radius: 10px 10px 0px 0px;
 }

 a {
   font-size: 16px;
   color: white;
   padding: 6px;
   text-shadow: 2px 2px #02010a;
   margin: 0 auto;
   text-decoration: underline;
 }

 h1{
     text-align: left;
     padding-left: 2px;
     font-size: 24px;
     color: white;
     text-shadow: 2px 2px #02010a;
     margin: 0 auto;
     float: left;
    }

   p {
      font-size: 16px;
      color: white;
      text-shadow: 2px 2px #02010a;
      margin: 0 auto;
    }

    .columna2 p{
      color: black;
      text-shadow: none;
    }

    .columna2 a{
      color: black;
    }

 li {
   font-size: 22px;
   padding-left: 5px;
   padding-right: 5px;
   float: right;
 }

 ul {
     list-style-type: none;
 }

.a3{
  text-decoration: none;
  color: black;
  text-shadow: none;
}

.centrar {
  text-align: center;
  height: 400px;
  padding: 3%;
}

.centrar2 {
  text-align: center;
  height: 150px;
  padding: 1px;
}

  .wrapper img {
  display: block;
  box-shadow: 2px 2px #02010a;
  margin: 0 auto;
  width: 100%;
  height: 22em;
  }

  #columna4{
    background-color: #d5c75f;
    width: 25%;
    padding: 2%;

  }
  #columna5{
    background-color: #d5c75f;
    width: 25%;
    padding: 2%;

  }
  #columna6{
    background-color: #d5c75f;
    width: 25%;
    padding: 2%;

  }
  #columna7{
    background-color:#d5c75f;
    width: 25%;
    padding: 2%;

  }

  #columna8{
    background-color:#C6d5c5;
    width: 25%;
    padding: 2%;
    margin-bottom: 5px;
  }

  #columna9{
    background-color:#C6d5c5;
    width: 25%;
    padding: 2%;
    margin-bottom: 5px;
  }

  #columna10{
    background-color:#C6d5c5;
    width: 25%;
    padding: 2%;
    margin-bottom: 5px;
  }

  #columna11{
    background-color:#C6d5c5;
    width: 25%;
    padding: 2%;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 960px){

  	#wrapper
  	{
  		width: 90%;
  		margin: 0 auto;
  	}
  }

  .fi{
    border-radius: 0 0 0 10%;
  }

  .nal{
    border-radius: 0 0 10% 0;
  }

  @media screen and (max-width: 640px){

  	#wrapper
  	{
  		width: 100%;
  		margin: 0 auto;
  	}

     .a2{
      display: none;
    }
  }


  @media screen and (max-width: 480px){

  #wrapper
  	{
  		width: 100%;
  		margin: 0 auto;
  	}
  	#columna1
  	{
  	width: 100%;
    padding: 4% 10% 0;
  	}
  	#columna2
  	{
  	width: 100%;
    padding: 4% 10% 0;
  	}
  	#columna3
  	{
  	width: 100%;
    padding: 4% 10% 0;
  	}
    #columna4
  	{
  	width: 100%;
    padding: 4% 10% 0;
    margin-bottom: 0;
  	}
    #columna5
  	{
  	width: 100%;
    padding: 4% 10% 0;
    margin-bottom: 0;
  	}
    #columna6
  	{
  	width: 100%;
    padding: 4% 10% 0;
    margin-bottom: 0;
  	}
    #columna7
  	{
  	width: 100%;
    padding: 4% 10% 0;
  	}
    #columna8
  	{
  	width: 100%;
    margin-bottom: 0;
  	}
    #columna9
  	{
  	width: 100%;
    padding: 4% 10% 0;
    margin-bottom: 0;
  	}
    #columna10
  	{
  	width: 100%;
    padding: 4% 10% 0;
    margin-bottom: 0;
  	}
    #columna11
  	{
  	width: 100%;
    padding: 4% 10% 0;
  	}

    .fi{
      border-radius: 0 0 0 0;
    }
    .nal{
      border-radius:
    }
    .final{
      margin-bottom: 4px;
      border-radius: 0 0 10% 10%;
      -moz-border-radius: 0 0 10% 10%;
      -webkit-border-radius: 0 0 10% 10%;
    }

    .a2{
      display: inline-block;
      display: -webkit-inline-block;
    }

  	header
  	{
  	width:100%;
  	}
  }
